<h1>Hello World!</h1>

<br>
<br>
<br> 
<br>

<div class="photo-gal">
	<div class="fotorama" 
		data-width="70%"
  	data-fit="contain"
  	data-hash="true"
  	data-loop="true"
  	data-keyboard="true"
  	data-transition="crossfade"
  	data-allowfullscreen="true"
		data-nav="thumbs" data-thumbwidth = "85" 
		data-thumbheight = "64">
  	<img src="<%= asset_path("1.jpg")%>">
  	<img src="<%= asset_path("2.jpg")%>">
	</div>
</div>
